<tr>
  <th scope="row">{{incrementNumber @index}}</th>
  <td>{{user_entered_date}}</td>
  <td>{{user_entered_time}}</td>
  <td>{{dosage}} units</td>
  <td>Edit | <button class="delete-dosage" data-id={{this.id}}>Delete</button></td>
</tr>
